/* styles.css - Challenge #2 (Skeleton: Rides Gallery) */


/* 0) Base page */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

/* 1) Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 800px;
    margin: auto;
}

/* 2) Section heading */
.site-header {
    font-weight: bold;
    padding: 16px;
}

.tagline {
    font-weight: normal;
}

.attractions {
    text-align: center;
}
/* 3) Cards wrapper (center all cards horizontally) */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* margin: 20px; */
}

/* 4) Card (size, spacing, border, rounded corners) */
.card {
    width: 240px; /* 240px * 3 + margins fits within 800px container */
    margin-right:20px; /* gap betw box */
    margin-bottom:20px; /* gap betw box */
    border-radius: 12px; /* curve for border */
    border: 2px solid grey;
    background-color: white;
    text-align: left;
}

/* 5) Card text (h3 title, paragraph blurb) */
h3 {
    background-color: white;
    margin: 0px;
    padding: 10px;
}

.blurb {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    line-height: 120%;
    margin: 0px;
    border-radius: 12px;
    
}

/* 6) Card image (fit within card, centered) */
.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 130px;
}


/* 7) Hover state: change border to green, then make it wigglew */
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-8deg); }
  20% { transform: rotate(8deg); }
  30% { transform: rotate(-6deg); }
  40% { transform: rotate(6deg); }
  50% { transform: rotate(-3deg); }
  60% { transform: rotate(3deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.card:hover {
  border-color: red;           /* changes border color */
  animation: wiggle 0.4s;      /* applies wiggle for 0.4 seconds */
}

/* 8) Footer */
.site-footer {
    text-align: center;
    color: rgba(63, 63, 63, 0.8);
    width: 100%;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 2px solid rgba(34, 32, 32, 0.2);
}