:root {
  --banner-start: #2b5876;
  --banner-end: #4e4376;
}

/* Simple gradient banner */
.gradient-banner {
  background: linear-gradient(90deg, var(--banner-start), var(--banner-end));
  color: #fff;
}


/* Task 2 - Pagination */
.button {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}


/* Task 11 - IMH Hotline */

